.shadow-right {
  box-shadow: 10px 0 15px -5px rgba(0, 0, 0, 0.08);
}

.container {
  max-width: 100%;
}

.bg-container {
  background-color: #f7f7f7;
}

.menu-item svg {
  fill: #a0aec0;
}

.shadow-sm {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.04);
}