body {
  font-family: $inter;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.homeSplashBackground {
  background: #f1f3f5;
}

.headerTitleWithLogo {
  display: none !important;
}

.projectTitle {
}

.fixedHeaderContainer {
  background: #FFF
}

.customButton:hover {
  color: white;
}